language: node_js
node_js:
- '10'
script:
- yarn lint
- yarn test
after_success: yarn run coverage
deploy:
  provider: npm
  email: gcampagn@cs.stanford.edu
  api_key:
    secure: EUVGUKaOgghNVF1DSgU+N0frZqXXIAVWL2afxIDnD4gcaH+lJP5jXHUnmL6EKSColhRXRAoaQKqvwHfzi9Th3ZqJCsv+qfGckwqgJIt5pFhqMH0OJ+/Msgsi0xXrSCScDcHQ9OrfLpBd858u6ouPMBGAA4g80nFWWGwN48NXY8ZxdS/fLN1agqZo/23zomM5dC0+P1VwDFawpkZ18yXiCJYYGNnNy3BmZygrOg6poEyXoxi3qocMbd+LytIVUVh3JuCQjsQ9e7MHzQz3a7j0nZPffFDXt4toYJpUV13g//VDuOC2TaS5M3fYnmrOW2HmDcDzAQlC1kJ5rhAUBWB6NnYlM1NXIXEgAEFInaw/3saa/ijF0pd3/5TSyATdPAspFGPCRXJ8l286Z6I4FWe3wJPV3DeBNb8qQOSy6FniFAT/ru/Dtq2R5xqynKfURgAed+T1vOCcjdKHFkZovBJzucPOAeKHvCHR5IXbPli+DdJ0LhlTUpuTdExzcJWCCpVCrihpezay4Ix/jw7KrXLgnNdMFELr+YhxZgx/8b6FwHWnXunLR47cje9471kLQrqCO7wzSVJAYZjWAgrCg8LYnc6urhje+8Exvvv5SyDgSJ1ZWUTGreCL08kptiGH1U7vf4FYkBq1suG6BcH71yVhyVg2Pip45HBC44jLGWIC0Bg=
  on:
    tags: true
    repo: stanford-oval/thingtalk-units
